html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  ul {
    list-style: none;
  }
/* ---------------------- */
 /* -------index----------- */

header ul img {
  width: 200px;
  height: 50px;
  margin-left: 40px;
  margin-right: 40px;
  display: block;
}


header #fixH {
  display: block;
  justify-content: space-between;
  margin: auto;
  padding: 0 40px;
  margin-bottom: 10px;
  height: 55%;
  width: 25%;
  
}

header ul{
  margin-top: 35px;
  border-bottom: 6px solid #FF8911;
  border-top: 6px solid #FF8911;
}

header {
  background-color: #fed1bf;
  display: flex;
  justify-content: center;
  max-block-size: 300px;
}


  header nav {
    margin-top: 20px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  
  section{
    background-color: #fff8e3;
}

  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* can increase line spacing */
  header nav li { 
    margin-left: 25px;
  }
  


  
  /* Footer */
  footer{
    padding-top: 10px;
  }
  .footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }


  /* -------------------------- */



/* Resume */

  .pdf-container {
    position: relative;
    padding-top: 10px;
  }
  
  .pdf-container iframe {
    width: 50%;
    height: 800px;
  }

  iframe{
    margin-left: 25%;
  }
  